.container {
    margin: 0 auto;
    width: 960px;
}
body {
    font-family: "New roman", Verdana,
    sans-serif;
    line-height: 1.6;
}
.place {
    border-color: #4777fc #000000 #4777fc #000000;
    border: 1px solid #ffffff;
    margin-bottom: 20px;
    padding: 10px;
    }
.place h2 {
border-bottom: 1px dashed #ff0202;
margin: 0;
}
body {
    background: #ffdca6 url(images/noise.png);
    font-family: "New roman", Verdana,
    sans-serif;
    line-height: 1.6;
    }
    .place {
        background-color: #ffffff;
        border: 1px solid #00ff22;
        border-color: #000000 #000000 #000000 #000000;
        margin-bottom: 20px;
        padding: 10px;
        }
        h1 a {
            color: #ff0000;
            text-decoration: none;
            }

            .place img {
                border: 1px solid #7E9F19;
                float: left;
                margin: 10px 10px 0 0;
                padding: 2px;
                width: 50%;
                }
                .clear {
                    clear: both;
                    }
                    .footer {
                        font-size: 12px;
                        text-align: center;
                        }
                        .sidenote {
                            background-color: #ffd900;
                            border: 1px solid #2600ff;
                            padding: 10px;
                            }
                            .sidenote h3 {
                            font-size: 14px;
                            margin-top: 0;
                            }
                            .sidenote ol {
                            font-size: 12px;
                            }
                          .places {
float: left;
width: 660px;
}

.sidenote {
background-color: #da3d3d;
border: 1px solid #C9BC8F;
float: right;
padding: 10px;
width: 260px;
}
